:root {
  --desaturated-blue: #293449;
  --grayish-white: #f2f6f8;
  --classic-white: #FFFFFF;
  --classic-red: #EE3643;
  --green: #63A63E;
  --classic-black: #000000;
  --basic-sea: #32425c;
  --basic-sienna: #ffd180;
  --basic-sea-light: #f1f5f7;
  --basic-gray: #a9a9a9;
}

body {
  min-width: 1220px;
  padding: 0;
  font-family: "PT Sans", "Tahoma"sans-serif;
  font-size: 14px;
  background-color: var(--classic-white);
  color: var(--classic-black);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually_hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  display: none;
}

/*  header_title  */
.header_title {
  background-color: var(--desaturated-blue);
  font-size: 18px;
  margin: 0px;
}

.header_title ul {
  margin: 0px;
}

.logo {
  background-color: var(--classic-black);
  opacity: 1;
}

.logo img:active {
  opacity: 0.8;
  margin-bottom: 0px;
}

.header_title a {
  color: var(--classic-white);
}

.header_title li {
  list-style: none;
}

.place_your_order {
  background-color: var(--green);
  /*padding-left: 20px;
padding-right: 18px;
padding-top: 18px;
padding-bottom: 11px;
margin-left: 28px;*/

}

/*header_inner*/

.header_inner {
  margin: 0px;
  font-family: "Cuprum";
  background-color: var(--grayish-white);
}

.header_inner_description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--classic-red);
  margin: 0px;
}

.header_inner_phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--classic-white);
  color: var(--classic-red);
}

.header_inner_address {
  font-size: 14px;
  line-height: 24px;
  color: var(--desaturated-blue);
}

.login {
  background-color: var(--classic-white);
  font-size: 21px;
  color: var(--classic-black);
  /*padding-top: 12px;
padding-bottom: 12px;
padding-left: 45px;
padding-right: 27px;*/

}

.registration {
  background-color: var(--classic-white);
  font-size: 21px;
  color: var(--classic-black);
  /*padding-top: 12px;
padding-bottom: 12px;
padding-left: 24px;
padding-right: 24px;*/

}

.main_nav {
  background-color: var(--desaturated-blue);
  /*margin-bottom: 60px;*/
}

.main_nav a {
  color: var(--classic-white);
}

.main_nav li {
  list-style: none;
}

.main_nav ul {
  margin: 0px;
}

.login_sub_title {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-sea);
  font-family: "Cuprum";
}

.catalog_nav a {
  font-size: 13px;
  line-height: 18px;
  color: var(--classic-black);
  text-transform: uppercase;
}

.catalog_title {
  background-color: var(--grayish-white);
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-sea);
}

.catalog_filter fieldset {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--classic-black);
}

.catalog_filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: var(--classic-black);
  text-transform: uppercase;
}

.catalog_filter li {
  list-style: none;
}

.show_button {
  color: var(--classic-black);
  font-size: 13px;
  line-height: 18px;
  background-color: var(--classic-white);

}

.merchandise_name {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--classic-black);
}

.merchandise_price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--basic-gray);
}

.merchandise_discount {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--classic-white);
  background-color: var(--classic-red);
}

/*
.services {
  background-color: var(--grayish-white);
}

.services h2 {
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 30px;
  color: var(--classic-black);
}

.services p {
  font-size: 13px;
  line-height: 24px;
  color: var(--classic-black);
}

.services li {
  list-style: none;
}

.services_slider h2 {
  color: var(--desaturated-blue);
}

.services_slider a {
  text-transform: uppercase;
  background-color: var(--classic-red);
  color: var(--classic-white);
}
*/

.about {
  color: var(--classic-black);
}

.about li {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum";
}

/*
.about li:before {
  content: " ";
  width: 25px;
  height: 2px;
  border: none;
  background-color: var(--classic-red);
  display: block;
}
*/

.about h2,
.contacts h2 {
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts {
  color: var(--classic-black);
}

.about p,
.contacts p {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
}

.about a {
  font-family: "Cuprum";
  text-transform: uppercase;
  color: var(--classic-white);
  font-size: 14px;
  line-height: 18px;
  background-color: var(--classic-red);

}

.lose_button,
.write_us button {
  background-color: var(--classic-red);
  text-transform: uppercase;
  color: var(--classic-white);
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum";
}

.write_us label {
  font-size: 18px;
  line-height: 24px;
  color: var(--classic-black);
  font-family: "Cuprum";
}

footer {
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum";
}

footer li,
a {
  list-style: none;
  color: var(--basic-sea-light);
}

.footer {
  background-color: var(--basic-sea);

}

.footer_inner {
  background-color: var(--desaturated-blue);
}

.yellow_color,
.yellow_color a {
  color: var(--basic-sienna);
}
